- page_title _('Health check')
- no_errors = @errors.blank?

= render ::Layouts::PageHeadingComponent.new(page_title), options: { data: { event_tracking_load: 'true', event_tracking: 'view_admin_health_check_pageload' } }

= render Pajamas::AlertComponent.new(variant: :tip, dismissible: false, alert_options: { class: 'gl-mb-5' }) do |c|
  - c.with_body do
    #{ s_('HealthCheck|Access token is') }
    %code#health-check-token= Gitlab::CurrentSettings.health_check_access_token
  - c.with_actions do
    = render Pajamas::ButtonComponent.new(href: reset_health_check_token_admin_application_settings_path, method: :put, button_options: { data: { confirm: _('Are you sure you want to reset the health check token?') } }) do
      = _("Reset health check access token")
%p.light
  #{ _('Health information can be retrieved from the following endpoints. More information is available') }
  = link_to s_('More information is available|here'), help_page_path('administration/monitoring/health_check')
  %ul
    %li
      %code= readiness_url(token: Gitlab::CurrentSettings.health_check_access_token)
    %li
      %code= liveness_url(token: Gitlab::CurrentSettings.health_check_access_token)
    %li
      %code= metrics_url(token: Gitlab::CurrentSettings.health_check_access_token)
    = render_if_exists 'admin/health_check/health_check_url'

= render Pajamas::CardComponent.new do |c|
  - c.with_header do
    Current Status:
    - if no_errors
      = sprite_icon('check', css_class: 'cgreen')
      #{ s_('HealthCheck|Healthy') }
    - else
      = sprite_icon('warning-solid', css_class: 'cred')
      #{ s_('HealthCheck|Unhealthy') }
  - c.with_body do
    - if no_errors
      #{ s_('HealthCheck|No Health Problems Detected') }
    - else
      = @errors
