- index = local_assigns.fetch(:index, nil)
- epic = local_assigns.fetch(:result, nil)
- position = index + 1

.search-result-row.gl-mt-5{ class: 'gl-pb-3! gl-mb-0! gl-pb-5!' }
  %span.gl-display-flex.gl-align-items-center
    - if epic.closed?
      = gl_badge_tag _('Closed'), variant: :info, size: :sm
    - else
      = gl_badge_tag _('Open'), variant: :success, size: :sm
    = sprite_icon('eye-slash', css_class: 'gl-text-secondary gl-ml-2') if epic.confidential?
    = link_to group_epic_path(epic.group, epic), data: { event_tracking: 'click_search_result', event_label: @scope, event_value: position, event_property: @search_term }, class: 'gl-w-full' do
      %span.term.str-truncated.gl-font-bold.gl-ml-2= epic.title
  .gl-text-secondary.gl-mb-3.gl-font-sm
    = sprintf(s_('%{group_name}&%{epic_iid} &middot; created %{epic_created} by %{author}'), { group_name: epic.group.full_name, epic_iid: epic.iid, epic_created: time_ago_with_tooltip(epic.created_at, placement: 'bottom'), author: link_to_member(@project, epic.author, avatar: false) }).html_safe
    &middot;
    = _('updated %{time_ago}').html_safe % { time_ago: time_ago_with_tooltip(epic.updated_at, placement: 'bottom') }
  - if epic.description.present?
    .description.term.col-sm-10.gl-px-0.gl-font-sm
      = truncate(epic.description, length: 200)
